{% extends "Base.twig" %}

{% block title %}Accueil - MyGiftBox{% endblock %}

{% block content %}
<h1>Créer une nouvelle box</h1>

<form method="post" action="{{ url_for('boxe_create') }}">
    <div>
        <label for="libelle">Libellé :</label><br>
        <input type="text" id="libelle" name="libelle" required>
    </div>
    <div>
        <label for="description">Description :</label><br>
        <textarea id="description" name="description" rows="4"></textarea>
    </div>

    <div>
        <label for="coffretType" >Type de coffret :</label><br>
        <select id="coffretType" name="coffretType" required>
            {% if coffret != null %}
            <option value="{{ coffret.id }}">{{ coffret.libelle  }}</option>
            {% endif %}
            <option value="">--Sélectionnez un type--</option>
            {% for p in coffret_type_liste %}
            {% if coffret == null or p.id!=coffret.id %}
            <option value="{{ p.id }}">{{ p.libelle }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <p id="prestationCount">0 prestation(s) ajoutée(s)</p>
    </div>

    <div id="prestationsContainer">
        <!-- Les prestations ajoutées seront affichées ici -->


    </div>



    <div>
        <label for="kdo">Cadeau ?</label>
        <input type="checkbox" id="kdo" name="kdo">

    </div>

    <div>
        <textarea id="message_kdo" name="message_kdo" rows="4"
            placeholder="Message pour le destinataire (optionnel)"></textarea>
    </div>

    <div>
        <label id="montant">Montant total (€) :</label><br>
    </div>
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">
    <div>
        <button type="submit">Créer la box</button>
    </div>
</form>
{% endblock %}