<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Création d'une box</title>
</head>

<body>

    <h1>Créer une nouvelle box</h1>

    < form method="post" action="{{ url_for('box_create') }}">
        <div>
            <label for="libelle">Libellé :</label><br>
            <input type="text" id="libelle" name="libelle" required>
        </div>
        <div>
            <label for="description">Description :</label><br>
            <textarea id="description" name="description" rows="4"></textarea>
        </div>

        <div>
            <p id="prestationCount">0 prestation(s) ajoutée(s)</p>

        </div>

        <div id="prestationsContainer">
            <!-- Les prestations ajoutées seront affichées ici -->


        </div>



        <div>
            <label for="kdo">Cadeau ?</label>
            <input type="checkbox" id="kdo" name="kdo">
        </div>

        <div>
            <label for="montant">Montant total (€) :</label><br>
        </div>
        <div>
            <button type="submit">Créer la box</button>
        </div>


</body>



</body>

</html>