{% extends "Base.twig" %}

{% block title %}Accueil - MyGiftBox{% endblock %}

{% block content %}
<h1>Créer une nouvelle box</h1>

<form method="post" action="{{ url_for('boxe_create') }}">
    <div>
        <label for="libelle">Libellé :</label><br>
        <input type="text" id="libelle" name="libelle" required>
    </div>
    <div>
        <label for="description">Description :</label><br>
        <textarea id="description" name="description" rows="4"></textarea>
    </div>

    <div>
        <p id="prestationCount">0 prestation(s) ajoutée(s)</p>
    </div>

    <div id="prestationsContainer">
        <!-- Les prestations ajoutées seront affichées ici -->


    </div>



    <div>
        <label for="kdo">Cadeau ?</label>
        <input type="checkbox" id="kdo" name="kdo">
    </div>

    <div>
        <label id="montant">Montant total (€) :</label><br>
    </div>
    <div>
        <button type="submit">Créer la box</button>
    </div>
</form>
{% endblock %}