{% extends "base.twig" %}

{% block title %}Accueil - MyGiftBox{% endblock %}

{% block content %}
    <h2>Bienvenue sur MyGiftBox.net</h2>
    <p>Ceci est la page d'accueil de l'application.</p>
    <ul>
         <li><a href="/categories">Liste des catégories</a></li>
         <li><a href="/prestation">Liste des prestations</a></li>
    </ul>
{% endblock %}
