{% extends "base.twig" %}

{% block title %}Catégorie {{ id }}{% endblock %}

{% block content %}
    <h1>La Catégorie {{ id }}</h1>
    <h2>{{ libelle }}</h2>
    <p>{{ description }}</p>
{% endblock %}
